// This is a partial.

ul#website-links {

  padding: 20px 5% 0 0;
  text-align: right;

  a,
  a:hover {
    color: #000;
    text-decoration: none;
  }

  li {
  	display: inline-block;
  	position: relative;
  	padding-bottom: 3px;
    margin-right: 10px;
    font-size: 15px;
    text-transform: uppercase;
  }

  li:last-child {
    margin-right: 0;
  }

  li:after,
  li.active:after {
  	content: '';
  	display: block;
  	margin: auto;
  	height: 3px;
  	width: 0px;
  	background: transparent;
  	transition: width .3s, background-color .5s;
  }

  li:hover:after, li.active:after {
  	width: 100%;
  	background: #111;
  }
}

.content-post {
  max-width: 710px;
  padding: 30px 0;

  & p,
  & ul, {
    font: 1.5rem $base-font-family;
    line-height: 2rem;
    text-align: justify;
  }
}

h2 {
  font: 500 40px "Museo", $base-font-family;
}

h3 {
  font: 300 20px "Museo", $base-font-family;
}

hr {
  margin: 30px 0;
}

.mb-0 {
  margin-bottom: 0;
}

/* COLOR: #262F36 */
