/**
 * Site header
 */

.site-title {
    font: 700 26px/1 "Museo", $base-font-family;
    margin-bottom: 0;
    float: left;
    padding: 20px 5%;
    vertical-align: top;

    &,
    &:visited {
        color: #688FAD;
    }

    &:hover {
      text-decoration: none;
    }
}
